{
    "rules": {
        "indent": [2, 4],
        "linebreak-style": [2, "unix"],
        "no-warning-comments": 2,
        "quotes": [2, "double"],
        "semi": [2, "always"],
	"valid-jsdoc": 2
    },
    "env": {
        "node": true
    },
    "extends": "eslint:recommended"
}
